listen: :8095
emby:
  addr: http://youremby.com
  apiKey: xxx
  httpStrm:
    actions:
      # 将 Emby 解析出的内网链接替换为公网链接
      - type: replace
        args: host.docker.internal -> youremby.com
      - type: replace
        args: 127.0.0.1:5244 -> your-alist-domain.com
    transCode: false
    finalURL: false